<!DOCTYPE html>
<html>
<head>
	<title>iuesc</title>
	<meta charset="utf-8">
	<link href="http://cdn.staticfile.org/twitter-bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
	<!Framework:jquery>
    <script type="text/javascript" src="../js/jquery-3.1.1.min.js"></script>
    <!Framework:bootstrap>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-3.3.7.min.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
<style type="text/css">
<!--尾页-->
  .footer{
    width: 100%;
    height:auto;
    background-color: #2B2B2B;
    margin-top: 100px;
  }
  .footer a{
  	color: #9D9D9D;
  }
  .footer p{
  	color: #9D9D9D;
  }
  .footer a:hover{
     color: #ffffff;
  }
  .footer-nav{
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 30px;
    text-align: center;
    color: #337AB7;
  }
  .footer-nav li{
    margin:0 20px 10px 20px;
    display: inline-block;
  }
  .footer-title{
    font-size: 12px;
  }
  .footer-content span{
    font-size: 20px;
  }
  .footer-content a{
    font-size: 14px;
  }
</style>
</head>
<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column" style="padding-right: 0px">
			<nav class="navbar navbar-default  navbar-inverse navbar-fixed-top" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="../index.html">汪明城(jettle-乔特)</a>
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
					    <li>
							 <a href="../index.html">基本信息</a>
						</li>
						<li class="active">
							 <a href="../index.html">职业规划</a>
						</li>
						<li>
							 <a href="../index.html">个人技能</a>
						</li>
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">校内经历<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									 <a href="../index.html">1.运营校园App-“校青葱”</a>
								</li>
								<li>
									 <a href="../index.html">2.《“乐易考杯”湖南省“互联网+”大学生就业创业大赛》</a>
								</li>
								<li>
									 <a href="../index.html">3.《衡阳师范大学ACM邀请赛》</a>
								</li>
								<li class="divider">
								</li>
								<li>
									 <a href="../index.html">4.《第十届中国大学生计算机设计大赛-中南地区赛》</a>
								</li>
							</ul>
						</li>
						<li>
							 <a href="index.html">实习经历</a>
						</li>
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">项目经历<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									 <a href="../index.html">1.2016.12 - 2017.01	《个人受骗几率检测系统》	Java研发工程师</a>
								</li>
								<li>
									 <a href="../index.html">2.2016.11 - 2016.12	《iUESC》— University Education of south china     前端开发工程师</a>
								</li>
								<li>
									 <a href="../index.html">3.2016.11 - 2016.02	新版《新闻发布系统》	PHP工程师</a>
								</li>
								<li class="divider">
								</li>
								<li>
									 <a href="../index.html">4.2017.07 - 2017.08	《考生录取专业管理系统》	Java工程师</a>
								</li>
								
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">获奖情况<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									 <a href="../index.html">1. 2017.05 - 2017.07《第十届中国大学生计算机设计大赛》中南地区赛 一等奖</a>
								</li>
								<li>
									 <a href="../index.html"> 2. 2016.10 - 2017.03《2016年软件设计创意大赛》 优胜奖</a>
								</li>
								<li>
									 <a href="../index.html">3. 2016.06 - 2016.12《第七届南华大学“挑战杯”大学生课外学术科技作品竞赛》 院三等奖 </a>
								</li>
							</ul>
						</li>
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">自我评价<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									 <a href="../index.html">1.勤奋好学，广交圈友</a>
								</li>
								<li>
									 <a href="../index.html">2.善于总结，并且乐于分享</a>
								</li>
								<li>
									 <a href="../index.html">3.爱好思维构图，经常将刚学习的知识，用Xmind或A4纸，画思维图</a>
								</li>
								<li class="divider">
								</li>
								<li>
									 <a href="../index.html">4.喜欢关注新鲜事物，关注GitHub上的开源项目</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>	
			</nav>
		</div>
	</div>
</div>
<!--
<img style="margin-top: 50px;width:100%" src="../images/iuesc2.png">
-->
<div>
    <img style="margin-top: 50px;" src="../images/iuesc.PNG">
	<h3 style="margin-left: 105px"><span class=" 
glyphicon glyphicon-stop" style="color: #8A8A8A"></span>2016.11 - 2016.12 &nbsp;&nbsp;《iUESC》— Ultimate  Education of south china &nbsp;&nbsp;前端工程师</h3>
</div>

<div class="container" style="margin-top: 100px">
<div class="row clearfix">
    <div class="col-md-12 column">
      <div class="tabbable" id="tabs-96386">
        <ul class="nav nav-tabs">
          <li  class="active">
             <a href="#panel1" data-toggle="tab">开发过程</a>
          </li>
          <li>
             <a href="#panel2" data-toggle="tab">成果</a>
          </li>
          <li>
             <a href="#panel3" data-toggle="tab">总结</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="panel1">
            </br>
            <p>1.开发环境：</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Windows 8.1 x64/Sublime Text3/FireBug/Multibrowser/MyEclipse 10/Tomcat 7/JDK 7。 
            </p>
            </br>
            <p>2.核心技术：</p>
            <p> 
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Html5/Css3/JavaScript/JQuery/Bootstrap/JSP/Mysql。
            </p>
            </br>
            <p>3.项目描述：</p>
            <p> 
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.《iUESC》— Ultimate  Education of south china是一个在线教学网站，以计算机科学与技术为主，包括：原创作品的发布、报酬比例的增长、直播教学、科技资讯及前辈在线指导。
            </p>
            </br>
            <p>4.项目职责：</p>
            <p> 
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1.在团队协作中，作为Web前端开发工程师，主要负责《iUESC》— Ultimate  Education of south china网页的编码部分，并结合bootstrap，实现了响应式布局；使用html5的video标签替代flash；JavaScript实现侧栏动态效果，使用HTML5+CSS3优化了部分JavaScript代码，实现了不同功能同样的动态效果。
            </p>
            </br>
          </div>
          <div class="tab-pane" id="panel2">
            </br>
            <p>1.网址：</p>
            </br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
            <a href="#">Addrss：待部署服务器，敬请期待。</a>
            <img src="../images/iuesc2.png" style="width: 1140px;height: auto">
            </br>
            </br>
          </div>
          <div class="tab-pane" id="panel3">
            <div class="video-background-home">
                </br>
                <p>1.文档：</p>
                <img src="../images/iuesc-readme.PNG">
                </br>
                <p>2.内容：</p>
                <img src="../images/iuesc-readme1.PNG">
                <img src="../images/iuesc-readme2.PNG">
                <img src="../images/iuesc-readme3.PNG">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer" style="background-color: #2B2B2B">
<div>
  <div class="footer-nav">
    <ul class="footer-title">
      <li><a href="#">职业规划</a></li>
      <li><a href="#">技术关注</a></li>
      <li><a href="#">创客空间</a></li>
      <li><a href="#">追根究底</a></li>
      <li><a href="#">生活向往</a></li>
    </ul>
  </div>
  <div class="footer-nav">
    <ul class="footer-content">
      <li>
         <a href="#"><span class="glyphicon glyphicon-envelope"></span> 邮编：421001</a>
      </li>
      <li>
         <a href="#"><span class="glyphicon glyphicon-map-marker"></span> 地址：湖南省衡阳市蒸湘区</a>
      </li>
      <li>
         <a id="weibo" href="#"><span class="glyphicon glyphicon-qrcode"></span> Github</a>
         <img id="img" src="../images/code.png" style="display: none;float: right;padding-left:10px">
      </li>    
    </ul>
  </div>
  <div class="footer-nav">
    <p>Copyright jettle© 2017. All rights reserved</p>
  </div>
  </div>
</div>
<script type="text/javascript">
	$("document").ready(function(){
      $("#weibo").mouseover(function(){
          document.getElementById("img").style.display="block";
      });
      $("#weibo").mouseleave(function(){
          document.getElementById("img").style.display="none";
      });
	});
</script>
</body>
</html>