<!DOCTYPE html>
<html>
<head>
	<title>myself</title>
	<meta charset="utf-8">
	<link href="http://cdn.staticfile.org/twitter-bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
	<!Framework:jquery>
    <script type="text/javascript" src="../js/jquery-3.1.1.min.js"></script>
    <!Framework:bootstrap>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-3.3.7.min.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
<style type="text/css">
<!--尾页-->
  .footer{
    width: 100%;
    height:auto;
    background-color: #2B2B2B;
    margin-top: 100px;
  }
  .footer a{
  	color: #9D9D9D;
  }
  .footer p{
  	color: #9D9D9D;
  }
  .footer a:hover{
     color: #ffffff;
  }
  .footer-nav{
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 30px;
    text-align: center;
    color: #337AB7;
  }
  .footer-nav li{
    margin:0 20px 10px 20px;
    display: inline-block;
  }
  .footer-title{
    font-size: 12px;
  }
  .footer-content span{
    font-size: 20px;
  }
  .footer-content a{
    font-size: 14px;
  }
</style>
</head>
<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column" style="padding-right: 0px">
			<nav class="navbar navbar-default  navbar-inverse navbar-fixed-top" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="../index.html">汪明城(jettle-乔特)</a>
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
					    <li>
							 <a href="../index.html">基本信息</a>
						</li>
						<li class="active">
							 <a href="../index.html">职业规划</a>
						</li>
						<li>
							 <a href="../index.html">个人技能</a>
						</li>
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">校内经历<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									 <a href="../index.html">1.运营校园App-“校青葱”</a>
								</li>
								<li>
									 <a href="../index.html">2.《“乐易考杯”湖南省“互联网+”大学生就业创业大赛》</a>
								</li>
								<li>
									 <a href="../index.html">3.《衡阳师范大学ACM邀请赛》</a>
								</li>
								<li class="divider">
								</li>
								<li>
									 <a href="../index.html">4.《第十届中国大学生计算机设计大赛-中南地区赛》</a>
								</li>
							</ul>
						</li>
						<li>
							 <a href="index.html">实习经历</a>
						</li>
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">项目经历<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									 <a href="../index.html">1.2016.12 - 2017.01	《个人受骗几率检测系统》	Java研发工程师</a>
								</li>
								<li>
									 <a href="../index.html">2.2016.11 - 2016.12	《iUESC》— University Education of south china     前端开发工程师</a>
								</li>
								<li>
									 <a href="../index.html">3.2016.11 - 2016.02	新版《新闻发布系统》	PHP工程师</a>
								</li>
								<li class="divider">
								</li>
								<li>
									 <a href="../index.html">4.2017.07 - 2017.08	《考生录取专业管理系统》	Java工程师</a>
								</li>
								
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">获奖情况<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									 <a href="../index.html">1. 2017.05 - 2017.07《第十届中国大学生计算机设计大赛》中南地区赛 一等奖</a>
								</li>
								<li>
									 <a href="../index.html"> 2. 2016.10 - 2017.03《2016年软件设计创意大赛》 优胜奖</a>
								</li>
								<li>
									 <a href="../index.html">3. 2016.06 - 2016.12《第七届南华大学“挑战杯”大学生课外学术科技作品竞赛》 院三等奖 </a>
								</li>
							</ul>
						</li>
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">自我评价<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									 <a href="../index.html">1.勤奋好学，广交圈友</a>
								</li>
								<li>
									 <a href="../index.html">2.善于总结，并且乐于分享</a>
								</li>
								<li>
									 <a href="../index.html">3.爱好思维构图，经常将刚学习的知识，用Xmind或A4纸，画思维图</a>
								</li>
								<li class="divider">
								</li>
								<li>
									 <a href="../index.html">4.喜欢关注新鲜事物，关注GitHub上的开源项目</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>	
			</nav>
		</div>
	</div>
</div>

<img style="margin-top: 50px;width:100%" src="../images/bak.png">

<!--Test-->
<p style="margin-top: 50px;color:#9D9D9D">当前位置：首页 > More > 
内容</p>

<!--标签-->
<div class="container" style="margin-top: 100px">
	<div class="row clearfix">
		<div class="col-md-4 column">
		   <img src="../images/span.png">
		   <h2>
				职业规划
			</h2>
			<p>
				“个人职业规划”简洁的概括了未来的短期规划(1-2年)。
				</br>
				2015‎-07‎-21‎ ‏‎23:29 
			</p>
			<p>
				 <a class="btn" href="#">More »</a>
			</p>
		</div>
		<div class="col-md-4 column">
		   <img src="../images/skill.png">
		   <h2>
				技术关注
			</h2>
			<p>
				紧跟科技技术发展，关注行业技术革新，发现新力量。
				</br>
				2017-03-28 ‏‎17:33
			</p>
			<p>
				 <a class="btn" href="#">More »</a>
			</p>
		</div>
		<div class="col-md-4 column">
		   <img src="../images/creat.png">
		   <h2>
				创客空间
			</h2>
			<p>
				开启创新思维，拥抱开源，实现科技创新。
				</br>
				2015-11-05 21:31
			</p>
			<p>
				 <a class="btn" href="#">More »</a>
			</p>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-4 column">
		   <img src="../images/find.png">
		   <h2>
				追根究底
			</h2>
			<p>
				以探索者的角色，探究技术核心，漫游技术发展历程。
				</br>
				2015-12-1 15:00
			</p>
			<p>
				 <a class="btn" href="#">More »</a>
			</p>
		</div>
		<div class="col-md-4 column">
		   <img src="../images/life.png">
		   <h2>
				生活向往
			</h2>
			<p>
				热爱生活，健康生活，追求生活个性品质。
				</br>
				2017-09-10 19:45
			</p>
			<p>
				 <a class="btn" href="#">More »</a>
			</p>
		</div>
		<div class="col-md-4 column">
		</div>
	</div>
</div>


<!--尾页-->
<div class="footer" style="background-color: #2B2B2B">
<div>
  <div class="footer-nav">
    <ul class="footer-title">
      <li><a href="#">职业规划</a></li>
      <li><a href="#">技术关注</a></li>
      <li><a href="#">创客空间</a></li>
      <li><a href="#">追根究底</a></li>
      <li><a href="#">生活向往</a></li>
    </ul>
  </div>
  <div class="footer-nav">
    <ul class="footer-content">
      <li>
         <a href="#"><span class="glyphicon glyphicon-envelope"></span> 邮编：421001</a>
      </li>
      <li>
         <a href="#"><span class="glyphicon glyphicon-map-marker"></span> 地址：湖南省衡阳市蒸湘区</a>
      </li>
      <li>
         <a id="weibo" href="#"><span class="glyphicon glyphicon-qrcode"></span> Github</a>
         <img id="img" src="../images/code.png" style="display: none;float: right;padding-left:10px">
      </li>    
    </ul>
  </div>
  <div class="footer-nav">
    <p>Copyright jettle© 2017. All rights reserved</p>
  </div>
  </div>
</div>
<script type="text/javascript">
	$("document").ready(function(){
      $("#weibo").mouseover(function(){
          document.getElementById("img").style.display="block";
      });
      $("#weibo").mouseleave(function(){
          document.getElementById("img").style.display="none";
      });
	});
</script>
</body>
</html>