<!DOCTYPE html>
<html>
<head>
	<title>zte</title>
	<meta charset="utf-8">
	<link href="http://cdn.staticfile.org/twitter-bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
	<!Framework:jquery>
    <script type="text/javascript" src="../js/jquery-3.1.1.min.js"></script>
    <!Framework:bootstrap>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-3.3.7.min.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
<style type="text/css">

<!--尾页-->
  .footer{
    width: 100%;
    height:auto;
    background-color: #2B2B2B;
    margin-top: 100px;
  }
  .footer a{
  	color: #9D9D9D;
  }
  .footer p{
  	color: #9D9D9D;
  }
  .footer a:hover{
     color: #ffffff;
  }
  .footer-nav{
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 30px;
    text-align: center;
    color: #337AB7;
  }
  .footer-nav li{
    margin:0 20px 10px 20px;
    display: inline-block;
  }
  .footer-title{
    font-size: 12px;
  }
  .footer-content span{
    font-size: 20px;
  }
  .footer-content a{
    font-size: 14px;
  }
</style>
</head>
<body data-spy="scroll" data-target="#myScrollspy" data-offset="20">
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column" style="padding-right: 0px">
			<nav class="navbar navbar-default  navbar-inverse navbar-fixed-top" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="../index.html">汪明城(jettle-乔特)</a>
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
					    <li>
							 <a href="../index.html">基本信息</a>
						</li>
						<li class="active">
							 <a href="../index.html">职业规划</a>
						</li>
						<li>
							 <a href="../index.html">个人技能</a>
						</li>
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">校内经历<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									 <a href="../index.html">1.运营校园App-“校青葱”</a>
								</li>
								<li>
									 <a href="../index.html">2.《“乐易考杯”湖南省“互联网+”大学生就业创业大赛》</a>
								</li>
								<li>
									 <a href="../index.html">3.《衡阳师范大学ACM邀请赛》</a>
								</li>
								<li class="divider">
								</li>
								<li>
									 <a href="../index.html">4.《第十届中国大学生计算机设计大赛-中南地区赛》</a>
								</li>
							</ul>
						</li>
						<li>
							 <a href="index.html">实习经历</a>
						</li>
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">项目经历<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									 <a href="../index.html">1.2016.12 - 2017.01	《个人受骗几率检测系统》	Java研发工程师</a>
								</li>
								<li>
									 <a href="../index.html">2.2016.11 - 2016.12	《iUESC》— University Education of south china     前端开发工程师</a>
								</li>
								<li>
									 <a href="../index.html">3.2016.11 - 2016.02	新版《新闻发布系统》	PHP工程师</a>
								</li>
								<li class="divider">
								</li>
								<li>
									 <a href="../index.html">4.2017.07 - 2017.08	《考生录取专业管理系统》	Java工程师</a>
								</li>
								
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">获奖情况<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									 <a href="../index.html">1. 2017.05 - 2017.07《第十届中国大学生计算机设计大赛》中南地区赛 一等奖</a>
								</li>
								<li>
									 <a href="../index.html"> 2. 2016.10 - 2017.03《2016年软件设计创意大赛》 优胜奖</a>
								</li>
								<li>
									 <a href="../index.html">3. 2016.06 - 2016.12《第七届南华大学“挑战杯”大学生课外学术科技作品竞赛》 院三等奖 </a>
								</li>
							</ul>
						</li>
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">自我评价<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									 <a href="../index.html">1.勤奋好学，广交圈友</a>
								</li>
								<li>
									 <a href="../index.html">2.善于总结，并且乐于分享</a>
								</li>
								<li>
									 <a href="../index.html">3.爱好思维构图，经常将刚学习的知识，用Xmind或A4纸，画思维图</a>
								</li>
								<li class="divider">
								</li>
								<li>
									 <a href="../index.html">4.喜欢关注新鲜事物，关注GitHub上的开源项目</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>	
			</nav>
		</div>
	</div>
</div>

<img style="margin-top: 50px;" src="../images/ZTE.PNG">
<img style="width: 1395px" src="../images/zte-address.PNG">
<p>（感谢“百度地图”提供现场图片）</p>
<h3 style="margin-left: 105px"><span class=" 
glyphicon glyphicon-stop" style="color: #337AB7"></span>2015.04 - 2015.05 &nbsp;&nbsp;衡阳中兴网信科技有限公司 &nbsp;&nbsp;Java见习生 </h3>
<div class="container" style="margin-top: 100px">
<div class="row clearfix">
    <div class="col-md-12 column">
      <div class="tabbable" id="tabs-96386">
        <ul class="nav nav-tabs">
          <li  class="active">
             <a href="#panel1" data-toggle="tab">*研发部</a>
          </li>
          <li>
             <a href="#panel2" data-toggle="tab">《“中兴杯”App创意作品大赛》</a>
          </li>
          <li>
             <a href="#panel3" data-toggle="tab">“校青葱”</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="panel1">
            <h5>1.项目描述：</h5>
            <p>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;数字衡阳建设主要包括基础支撑平台（云计算中心和数据交换平台）和4大核心应用（平安城市、智能交通、数字城管、应急指挥），随着业务的逐步发展，后续规划建设市民一卡通、智慧医疗、智慧环保等应用。
            </p>
            </br>
            <h5>2.见习经历：</h5>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在衡阳中兴网信科技有限公司见习期间，有跟随指导员了解了其内部项目——“数字衡阳”，及各个部门的具体职能；同时，项目经理也为我们讲述了“数字衡阳”的部分技术，包括：交通监控等等。</p>
            </br>
            <h5>3.总结：</h5>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;这次中兴之行，让我了解了一个互联网企业的内部结构，明白了互联网的魅力所在，它可以改变人们的生活，让大家能够生活在一个智慧舒适的城市。</p>
            <div>
              <img src="../images/ztedate.png">
            </div>
          </div>
          <div class="tab-pane" id="panel2">
            <img src="../images/zte-app.png">
            <div class="video-background-home">
            <p></p>
            </div>
          </div>
          <div class="tab-pane" id="panel3">
            <div class="video-background-home">
                <h5>1.情景：</h5>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在中兴招募“校青葱”的校园运营团队时，每个人都要上台讲述自己的优劣势来争取运营的机会，本着学习的态度，最终还是突破重围，获取了此次共同运营校园App-“校青葱”的机会</p>
                </br>
                <h5>2.职责：</h5>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在运营“校青葱”期间，主要是通过线上的论坛来编辑一些文章来推广，并创建对应的百度贴吧来解决用户的使用过程中的各种问题，以及获取用户反馈；线下也组织过相应的活动，如：学生下载app,我们即可送出小礼品。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--尾页-->
<div class="footer" style="background-color: #2B2B2B">
<div>
  <div class="footer-nav">
    <ul class="footer-title">
      <li><a href="#">职业规划</a></li>
      <li><a href="#">技术关注</a></li>
      <li><a href="#">创客空间</a></li>
      <li><a href="#">追根究底</a></li>
      <li><a href="#">生活向往</a></li>
    </ul>
  </div>
  <div class="footer-nav">
    <ul class="footer-content">
      <li>
         <a href="#"><span class="glyphicon glyphicon-envelope"></span> 邮编：421001</a>
      </li>
      <li>
         <a href="#"><span class="glyphicon glyphicon-map-marker"></span> 地址：湖南省衡阳市蒸湘区</a>
      </li>
      <li>
         <a id="weibo" href="#"><span class="glyphicon glyphicon-qrcode"></span> Github</a>
         <img id="img" src="../images/code.png" style="display: none;float: right;padding-left:10px">
      </li>    
    </ul>
  </div>
  <div class="footer-nav">
    <p>Copyright jettle© 2017. All rights reserved</p>
  </div>
  </div>
</div>
<script type="text/javascript">
	$("document").ready(function(){
      $("#weibo").mouseover(function(){
          document.getElementById("img").style.display="block";
      });
      $("#weibo").mouseleave(function(){
          document.getElementById("img").style.display="none";
      });
	});
</script>
</body>
</html>